<div>
    <div class="text-center">
        <h1 class="display-4 mt-5 mb-3">已完成</h1>
        <p>發送訊息完成！</p>
        <div class="mb-3">
            <a class="btn btn-outline-primary" asp-controller="Admin" asp-action="Index">繼續使用</a>
        </div>
    </div>
</div>