<div>
    <div class="text-center">
        <img src="~/images/brand-logo.png" class="mb-3" style="max-width: 80%;" />
        <h1 class="display-4">歡迎使用廣播小幫手</h1>
        <p>目前有 @ViewBag.Count 位已註冊的使用者</p>
    </div>
</div>